<!--/**-->
<!--* Rajpreet Dhaliwal-->
<!--* 1/16/20-->
<!--* /328/dating/views/home.html-->
<!--* home page of the dating website-->
<!--*/-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link href="../dating/styles/dating.css" rel="stylesheet">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<title>Dating PNW</title>

</head>
<body>
<!-- Adding navbar -->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Dating PNW</span>
</nav>

<!--Creating the container div-->
<div class="container-fluid" id="main">
    <!--Creating the form-->
    <form>
        <!--Creating a fieldset-->
        <fieldset class="form-group shadow rounded">
        <!--Creating a new div to img-->
        <div>
        <!--Creating the image-->
        <img  class="rounded" src="../dating/images/datingpic.jpg" alt="picture of an couple.">
         </div>
            <!--Creating a div to hold site intro and quotes-->
            <div>
                <h1>Dating PNW</h1>
                <h5>Welcome to the Dating Site PNW. We are the best in the pacific
                    north west. We have a really high success rate in matching couples in the Pacific North West.</h5>
                <h2>This is what our members have to say about us.</h2>
               <!--Creating a div to hold quotes-->
               <div id="quotes" class="shadow">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"I met the love of my life."</p>
                    <footer class="blockquote-footer">Geoff Foster<cite title="Source Title">PNW Dating</cite></footer>
                </blockquote>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"So grateful to have found this site"</p>
                    <footer class="blockquote-footer">Ian Mackoney <cite title="Source Title">PNW Dating</cite></footer>
                </blockquote>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"Best dating site by far."</p>
                    <footer class="blockquote-footer">Liam Castillo<cite title="Source Title">PNW Dating</cite></footer>
                </blockquote>
               </div>
                <!--Creating a button-->
                <button type="button" class="btn btn-primary btn-lg">
                    Create a profile!
                </button>
            </div>
        </fieldset>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>