<!--/**-->
<!--* Rajpreet Dhaliwal-->
<!--* 1/16/20-->
<!--* /328/dating/views/Interests.html-->
<!--* home page of the dating website-->
<!--*/-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../dating/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../dating/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../dating/favicon/favicon-16x16.png">
    <link rel="manifest" href="../dating/favicon/site.webmanifest">
    <link rel="mask-icon" href="../dating/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link href="../dating/styles/dating.css" rel="stylesheet">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Interests</title>

</head>
<body>
<!-- Adding navbar -->
<nav class="navbar navbar-light bg-light">
    <a href="../dating" class="navbar-brand mb-0 h1">Dating PNW</a>
</nav>

<!--Creating the container div-->
<div class="container-fluid" id="main">
    <!--Creating the form-->
    <form action="summary" method="post">
        <!--Creating a fieldset-->
        <fieldset class="form-group shadow rounded">
            <!--Creating a div to hold personal info-->
            <div>
                <div class="form-check text-left">
                    <h1 class="text-left">Interests</h1>
                    <hr>

                    <div class="form-check form-row">
                        <h4 class="row">In-door Interests</h4>
                        <div>&nbsp;</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="TV" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox1">TV</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Movies" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Movies</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Cooking" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Cooking</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Board Games" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Board Games</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Puzzles" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Puzzles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Reading" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Reading</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Playing Cards" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Playing Cards</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Video Games" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Video Games</label>
                        </div>
                        <div>&nbsp;</div>
                    </div>

                    <div class="form-check float-left form-row">
                        <h4 class="row">Out-door Interests</h4>
                        <div>&nbsp;</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="Hiking" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox1">Hiking</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox22" value="Biking" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Biking</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="Swimming" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Swimming</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="Collecting" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Collecting</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox55" value="Walking" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Walking</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox66" value="Climbing" name="interest[]">
                            <label class="form-check-label" for="inlineCheckbox2">Climbing</label>
                        </div>
                        </div>
                    <!--Creating a button-->
                    <div class="form-check float-right mt-5">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Next >
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>