<!--/**-->
<!--* Rajpreet Dhaliwal-->
<!--* 1/16/20-->
<!--* /328/dating/views/profile.html-->
<!--* Profile page of the dating website-->
<!--*/-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../dating/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../dating/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../dating/favicon/favicon-16x16.png">
    <link rel="manifest" href="../dating/favicon/site.webmanifest">
    <link rel="mask-icon" href="../dating/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link href="../dating/styles/dating.css" rel="stylesheet">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Profile</title>

</head>
<body>
<!-- Adding navbar -->
<nav class="navbar navbar-light bg-light">
    <a href="../dating" class="navbar-brand mb-0 h1">Dating PNW</a>
</nav>

<!--Creating the container div-->
<div class="container-fluid" id="main">
    <!--Creating the form-->
    <form action="#" method="post">
        <!--Creating a fieldset-->
        <fieldset class="form-group shadow rounded">
            <!--Creating a div to hold personal info-->
            <div>
                <div class="form-check">
                    <h1 class="text-left">Profile</h1>
                    <hr>
                </div>

                <div class="form-check float-right col-5">
                    <label for="exampleFormControlTextarea1" class="float-left" >Biography</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="bio" >{{ @SESSION.bio }}</textarea>
                </div>

                <div class="form-check col-7 row-1">
                    <!--email-->
                    <label for="email" class="float-left">Email<check if="{{ @errors['email'] }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check></label>
                    <input type="email" class="form-control required-input" id="email" name="email" value="{{ @SESSION.email }}">
                </div>


                <div class="form-group col-7">
                    <label for="inputState" class="float-left">State</label>
                    <select id="inputState" class="form-control" name="state">

                        <repeat group="{{ @states }}" key="{{@stateName}}" value="{{ @stateOptions }}">
                            <check if="{{@SESSION.state==@stateName}}">
                                <option value="{{ @stateName }}" selected>{{ @stateOptions }}</option>
                            </check>
                            <option value="{{ @stateName }}">{{ @stateOptions }}</option>
                        </repeat>
                    </select>
                </div>

                <div class="form-check col-7">
                    <!--Gender-->
                    <label class="float-left">Seeking</label>
                    </br>
                    <label class="radio-inline float-left">
                        <input type="radio" name="optradio" value="Male" <check if="{{@SESSION.seeking}}==Male">checked</check> >Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Female" <check if="{{@SESSION.seeking}}==Female">checked</check>>Female
                    </label>
                    <br>
                </div>
            </div>
            <!--Creating a button-->
            <div class="form-check float-right">
                <button type="submit" class="btn btn-primary btn-lg">
                    Next >
                </button>
            </div>
        </fieldset>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>