<!--/**-->
<!--* Rajpreet Dhaliwal-->
<!--* 1/16/20-->
<!--* /328/dating/views/Summary.html-->
<!--* summary page of the dating website-->
<!--*/-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../dating/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../dating/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../dating/favicon/favicon-16x16.png">
    <link rel="manifest" href="../dating/favicon/site.webmanifest">
    <link rel="mask-icon" href="../dating/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link href="../dating/styles/dating.css" rel="stylesheet">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Profile</title>

</head>
<body>
<!-- Adding navbar -->
<nav class="navbar navbar-light bg-light">
    <a href="../dating" class="navbar-brand mb-0 h1">Dating PNW</a>
</nav>

<!--Creating the container div-->
<div class="container-fluid" id="main">
    <!--Creating the form-->
    <form action="../dating" method="post">
        <!--Creating a fieldset-->
        <fieldset class="form-group shadow rounded">
            <!--Creating a div to hold personal info-->
            <div class="text-left form-check">
                <div class="float-right text-center form-check">
                    <img id="pro" src="../dating/images/profile.png" class="text-center  img-fluid"
                         alt="Default Profile Picture" style=" width: 350px;">

                    <h3 class="text-left">Biography</h3>
                    <p class="text-left">{{ @SESSION.member->getBio()}}</p>
                </div>
                <ul class="ul list-group">
                    <li class="list-group-item">Name: {{ @SESSION.member->getFname() }} {{ @SESSION.member->getLname()
                        }}
                    </li>
                    <li class="list-group-item">Gender: {{ @SESSION.member->getGender() }}</li>
                    <li class="list-group-item">Age: {{ @SESSION.member->getAge() }}</li>
                    <li class="list-group-item">Phone: {{ @SESSION.member->getPhone() }}</li>
                    <li class="list-group-item">Email: {{ @SESSION.member->getEmail() }}</li>
                    <li class="list-group-item">State: {{ @SESSION.member->getState() }}</li>
                    <li class="list-group-item">Seeking: {{ @SESSION.member->getSeeking() }}</li>
                    <check if="{{ @SESSION.premium }} == 'isPremium'">
                        <li class='list-group-item'>Interests: {{ @SESSION.member->getOutDoorInterests() }} {{
                            @SESSION.member->getInDoorInterests() }}
                        </li>
                    </check>
                </ul>
                <div class="form-check text-center">
                    <button type="submit" class="btn btn-primary btn-lg mt-5">
                        Contact Me
                    </button>
                </div>
            </div>
            <!--Creating a button-->

        </fieldset>

    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>