body{
    /*background-color: #d26190;*/
    font-family: 'Pacifico', cursive;
}
.pic{
   /*margin-top: 30px;*/
   /* margin-left: 15px;*/
    width: 45%;
}

.about{
    font-size: 15pt;
}


#main {
    border: solid black 2px;
}