body{
    background-color: #d26190;
    font-family: 'Pacifico', cursive;
}
.pic{
   margin-top: -35px;
    margin-left: -20px;
    width: 50%;
}

.about{
    font-size: 15pt;
}

#button{
   position: relative;
    left: 200px;

}